version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sentinel-frontend-dev
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules

    command: npm run dev -- --host

    environment:
      - CHOKIDAR_USEPOLLING=true

    stdin_open: true
    tty: true
